@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     Layout = null;
}

<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="~/css/SignInOrSignUp/Welcome.css">
</head>

<body>
    <img src="~/image/SignInOrSignUp/Welcome.png" style="position:absolute; top:-90px; left :360px;" />
    <div>
        <a asp-action="Index"><span class="SignInOrSignUp" style="position:absolute; top:810px; left: 890px">Sign In</span></a>
        <a asp-action="SignUp"><span class="SignInOrSignUp" style="position:absolute; top:810px; left: 975px">Sign Up</span></a>
    </div>
</body>




</html>
